# Copiar a .env.local y completar

NEXT_PUBLIC_API_URL=http://localhost:3001/v1
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=REEMPLAZAR_CON_SECRET_RANDOM
NEXTAUTH_API_URL=http://localhost:3001/v1
